# Node.js
node_modules/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
*.tfplan
crash.log

# Ansible
ansible/*.retry
ansible/group_vars/all/vault.yml
target.yml
hosts.yml

# OS
.DS_Store
Thumbs.db